name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Push
        uses: IgorNadj/github-actions/build-and-push@main
        with:
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
